// colors - primary
$color-red: #f37867; // soft red
$color-yellow: #fad400; // yellow
$color-primary-light: #90d4c5; // dark desturated cyan
$color-primary-dark: #19536b; // Dark Blue
$color-primary: #2c7466; // Dark Moderate Cyan

// Neutral colors
$color-black: #23303e; // Dark Desaturated Blue
$color-gray-dark: #5a636c; //Very Dark Desturated Blue
$color-gray: #818498; // Dark Grayish Blue
$color-gray-light: #a7abae; // Grayish Blue
$color-white: #fff; // White color
